<aside class="fixed left-0 top-0 h-screen bg-[#508D4E] text-white w-64 overflow-y-auto">
    <div class="h-20"></div>
    <nav class="space-y-4 p-4">
        <a href="/admin/dashboard" class="flex items-center space-x-3 text-gray-100 hover:text-[#1F4529] rounded-lg p-2 transition-all duration-200 transform hover:scale-105">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </a>
        <a href="/admin/products" class="flex items-center space-x-3 text-gray-100 hover:text-[#1F4529] rounded-lg p-2 transition-all duration-200 transform hover:scale-105">
            <i class="fas fa-box"></i>
            <span>Products</span>
        </a>
        <a href="/admin/categories" class="flex items-center space-x-3 text-gray-100 hover:text-[#1F4529] rounded-lg p-2 transition-all duration-200 transform hover:scale-105">
            <i class="fas fa-tags"></i>
            <span>Categories</span>
        </a>
        <a href="/admin/customers" class="flex items-center space-x-3 text-gray-100 hover:text-[#1F4529] rounded-lg p-2 transition-all duration-200 transform hover:scale-105">
            <i class="fas fa-users"></i>
            <span>Customers</span>
        </a>
    </nav>
</aside> 